@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap");

* {
  /* reset the browser default css styles in the next 3 lines */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* choose your font-family */
  font-family: "Poppins", "Courier New", Courier, monospace;
  /* setup color variables for css */
  --bg-primary: #2d3047; /* invoke --> var(--bg-primary)*/
  --bg-secondary: #433e0e;
  --font-color-primary: #f09d51;
  --font-color-secondary: #b75d69;
  --backup-color: #fec196;
  /* #433E0E */
}

body {
  height: 100vh;
  background: var(--bg-primary);
}

/* header styling */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: var(--font-color-primary);
  margin-right: 20px;
  transition: color 0.3s ease;
  font-size: 16px;
}

header ul li a:hover {
  color: var(--font-color-secondary);
}

.hire-btn {
  background: var(--backup-color);
  color: var(--font-color-secondary);
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  transition: background 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
}

.hire-btn:hover {
  background: var(--font-color-primary);
}

header h3 {
  color: var(--backup-color);
}

/* subheader styling */

.subheader h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 36px;
  color: var(--font-color-secondary);
  text-decoration: underline;
}

.subheader .contact-info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.subheader .contact-info h2{
    color:var(--font-color-secondary);
  }

.subheader .contact-info ul {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.subheader .contact-info ul li {
  display: flex;
  text-decoration: none;
  color: var(--font-color-primary);
  margin-right: 20px;
  font-size: 16px;
}

/* main content */

main {
    margin: 30px 100px 40px 100px;
}

main section{
    margin-bottom: 20px;
}

main h3 {
    color: var(--font-color-secondary);
}
main h4 {
    color: var(--backup-color)
}

main p {
    padding: 10px;
    color: var(--font-color-primary)
}

main .experience-section h3, main .education-section h3 {
    margin-bottom: 10px;
}

main .education-section h3 {
    margin-bottom: 10px;
}

main .education-section th {
    color: var(--backup-color)
}

main .education-section tr {
    background-color: var(--bg-secondary)
}

main .education-section td {
    color: var(--font-color-primary);
    padding: 10px;
}

/* footer styling */

hr {
  border: 1px solid var(--backup-color);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
footer h4 {
  margin-bottom: 10px;
  color: var(--font-color-secondary);
}

footer p {
  color: var(--font-color-primary);
}

footer a {
  color: var(--font-color-secondary);
}

footer .footer-right p {
  margin-top: 50px;
}
