@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");

* {
  /* reset the browser default css styles in the next 3 lines */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* choose your font-family */
  font-family: "Poppins", "Courier New", Courier, monospace;
  --font-color-primary: #d9b10f;
  --font-color-secondary: #eee8e8;
}
body {
  margin: 0;
}
/* hero section */

header {
  height: 1400px;
  background-image: url("../assets/img/pexels-felix-rottmann-11400712.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img{
  width: 300px;
}

header h1 {
  font-size: 200px;
  color: var(--font-color-primary);
  font-weight: 400;
}

header h4 {
  font-size: 35px;
  color: var(--font-color-secondary);
  font-weight: 400;
}

header i {
  color: var(--font-color-primary);
  font-size: 200px;
}

/* trip to alaska on your list? */
.on-your-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
  background-image: url("../assets/img/pexels-kien-virak-10597265.jpg");
  background-size: cover;
  background-position: center;
}

.on-your-list div:first-child {
  padding: 40px;
  margin-left: 40px;
  width: 50%;
}

.on-your-list h2 {
  color: var(--font-color-primary);
  font-size: 90px;
}

.on-your-list div:last-child {
  margin: 0px 400px;
  width: 50%;
}

.on-your-list p {
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

.on-your-list button {
  background: var(--font-color-primary);
  width: 125px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

/* expierence kenai fjords and denali park */

.kenai-fjords-and-denali {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1100px;
  background-image: url("../assets/img/pexels-skitterphoto-792.jpg");
  background-size: cover;
  background-position: center;
}

.kenai-fjords-and-denali h3 {
  font-size: 50px;
  color: var(--font-color-primary);
  font-weight: 500;
  margin: 0px 600px;
  margin-bottom: 50px;
  text-align: center;
}

.kenai-fjords-and-denali div  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kenai-fjords-and-denali .kenai-first-image {
  height: 600px;
  width: 400px;
  margin: 0 25px;
  border-radius: 3px;
  background-image: url("../assets/img/pexels-badr-khechchab-4562477.jpg");
  background-size: cover;
  background-position: center;
}

.kenai-fjords-and-denali .kenai-second-image {
  height: 600px;
  width: 400px;
  margin: 0 25px;
  border-radius: 3px;
  background-image: url("../assets/img/pexels-barry-tan-5389771.jpg");
  background-size: cover;
  background-position: center;
}

.kenai-fjords-and-denali .kenai-third-image {
  height: 600px;
  width: 400px;
  margin: 0 25px;
  border-radius: 3px;
  background-image: url("../assets/img/pexels-james-wheeler-1598073.jpg");
  background-size: cover;
  background-position: center;
}

.kenai-fjords-and-denali div div div i {
  color: var(--font-color-primary);
  font-size: 96px;
}

.kenai-fjords-and-denali div div div h6 {
  color: var(--font-color-secondary);
  font-size: 24px;
  font-weight: 500;
}

.kenai-fjords-and-denali div div div {
  margin-top: 110%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}

.kenai-fjords-and-denali button {
  margin-top: 60px;
  background: var(--font-color-primary);
  color: var(--font-color-secondary);
  width: 125px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

/*  bears trains and icebergs  */

.bears-trains-and-icebergs {
  display: flex;
  justify-content: space-between;
  height: 900px;
  background-image: url("../assets/img/pexels-sara-loeffler-4027720.jpg");
  background-size: cover;
  background-position: center;
}

.bears-trains-and-icebergs div:first-child {
  padding: 40px;
  margin-left: 40px;
  width: 50%;
  margin-top: 60px;
  
}

.bears-trains-and-icebergs h2 {
  color: var(--font-color-primary);
  font-size: 90px;
  font-weight: 400;
}

.bears-trains-and-icebergs div:last-child {
  margin-top: 100px;
  padding: 0px 100px;
  width: 50%;
}

.bears-trains-and-icebergs h6 {
  color: var(--font-color-secondary);
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}


.bears-trains-and-icebergs p {
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

/* metrics */

.metrics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  background-image: url("../assets/img/pexels-pixabay-268455.jpg");
  background-size: cover;
  background-position: center;
}

.metrics div {
  background: black;
  width: 200px;
  height:200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.metrics div h2{
  margin-top: 40px;
  color: var(--font-color-primary);
  font-size: 50px;
  font-weight: 400;
}

.metrics div p {
  margin-top: 10px;
  color: var(--font-color-secondary);
}

/* anecdotal */

.anecdotal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-image: url("../assets/img/pexels-pixabay-41004.jpg");
  background-size: cover;
  background-position: center;
}

.anecdotal img {
  width:200px;
  height: 200px;
  border-radius: 50%;
}

.anecdotal p {
  color: var(--font-color-secondary);
  padding: 0px 500px;
  text-align: center;
  margin-top: 40px;

}

.anecdotal h6 {
  color: var(--font-color-secondary);
  font-size: 24px;
  margin-top: 30px;
  font-weight: 400;
}

.anecdotal i {
  color: var(--font-color-primary);
  font-size: 120px;
}

/* picture gallery */

.picture-gallery {
  height: 400px;
  display: flex;
  align-items: center;
}

.picture-gallery div:nth-child(1) {
  width: 25%;
  height:100%;
  background-image: url("../assets/img/pexels-vlad-bagacian-1368382.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.picture-gallery div:nth-child(2) {
  width: 25%;
  height:100%;
  background-image: url("../assets/img/pexels-barry-tan-5389947.jpg");
  background-size: cover;
  background-position: center;
}

.picture-gallery div:nth-child(3) {
  width: 25%;
  height:100%;
  background-image: url("../assets/img/pexels-andrei-tanase-1271620.jpg");
  background-size: cover;
  background-position: center;
}

.picture-gallery div:nth-child(4) {
  width: 25%;
  height:100%;
  background-image: url("../assets/img/pexels-julie-aagaard-1374064.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: end;
}

.picture-gallery {
  color: var(--font-color-primary);
  font-size: 85px;
}

/* contact us */

footer {
  display: flex;
  justify-content: space-between;
  height: 700px;
  background-image: url("../assets/img/pexels-matthew-mcelwaine-178837.jpg");
  background-size: cover;
  background-position: center;
}

footer h1 {
  color: var(--font-color-primary);
  font-size: 96px;
  font-weight: 400;
}

footer div:first-child {
  width: 50%;
  padding:100px;
}

footer div:first-child p {
  color: var(--font-color-secondary);
}

footer div:first-child i {
  margin-top: 35px;
  font-size: 35px;
  color: var(--font-color-primary);
  margin-right: 5px;
}



footer div:nth-child(2) {
  width: 50%;
  display: flex;
  margin-top: 160px;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5px;
}

footer input, footer textarea {
  margin-bottom: 12px;
  width: 600px;
  padding: 10px;
  background:transparent;
  border-color: var(--font-color-secondary);
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
}

footer input:focus, footer textarea:focus {
  outline: 2px solid var(--font-color-secondary);
}

footer input::placeholder, footer textarea::placeholder {
  color: var(--font-color-secondary);
  opacity: 80%;
}

footer button {
  background: var(--font-color-primary);
  width: 125px;
  padding: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}
